body,html {
	margin-top:100px;
	margin-left:100px;
	margin-right:100px;
	margin-bottom:100px;
	
	
}


#orangebox {
position:absolute;
top:0px;
left:50px;
right:50px;
background-color:#ff6626;
height:150px;
}

#yellowbox {
position:absolute;
top:150px;
left:50px;
right:50px;
height:60px;
background-color:#ffce0f;
}


#bluebox {
position:absolute;
top:210px;
left:50px;
right:1150px;
height:450px;
background-color:#24cbff;
}

#greenbox {
position:absolute;
top:660px;
left:50px;
right:50px;
background-color:#1dfa5d;
bottom:80px;
}

#whitebox {
position:absolute;
top:210px;
left:250px;
right:50px;
background-color:white;
height:450px;
}